body {
    width: 300px;
    overflow-x: hidden;
    font-family: Consolas, sans-serif;
    font-size: 13px;
    color: #4a4a4a;
    margin-top: 50px;
}

header {
    font-size: 15px;
    color: #ffffff;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header input {
    outline: none;
    padding-left: 7px;
    width: 220px;
}

#window_actions {
    float: right;
}

header a {
    margin: 0 0 0 6px;
    text-decoration: none;
    font-size: 18px;
}

label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

header button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    float: right;
}

.group a{
    color: #f00;
    font-size: 17px;
}

.group button{
    float: right;
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

